{
  "sourceMaps": true,
  "retainLines": true,
  "presets": [
    "es2015",
  ],
  "plugins": [
    ["transform-decorators-legacy"],
    ["transform-class-properties"],
    ["transform-function-bind"],
    ["transform-object-rest-spread"],
  ],
}
